/* Fichier transféré */
/* Fichier pas encore validé */

/* Section des sponsors : disposition en colonne, centrée, avec hauteur fixe */
.sponsors {
  height: 400px;
  justify-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Titre des cartes de sponsors : police spécifique et alignement à gauche */
.sponsors__card_title {
  font-family: var(--font-secondary);
  text-align: start;
}

/* Titre principal de la section sponsors : grand, centré et en gras */
.sponsors__title {
  font-weight: 900;
  font-family: var(--font-secondary);
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}



/* Conteneur flexible pour sponsors hors carrousel : disposition avec wrapping */
.sponsor_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

/* Style des éléments individuels (sponsors) : ombre et bord arrondi */
.item {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  align-self: center;
  border-radius: 10px;
}